---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>Welcome</h1>
            <div id="markdown-content-container">
              This is the documentation for the <a href="https://github.com/visualengineers/glyphboard">Glyphboard</a> project. 
              Get started with the <a href="{{ site.baseurl }}/home/">documentation</a> or have a look at the application itself: <a href="http://itv21.informatik.htw-dresden.de:4200/">itv21.informatik.htw-dresden.de:4200/</a>.          
          
              <br /><br />
          <div><iframe width="560" height="315" src="https://www.youtube.com/embed/2Ffw5nG9U54" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </br>
          <div>Glyphboard Paper with User Study @ VDS at IEEE 2019: <a href="https://www.youtube.com/watch?v=1hjHDwjzWwQ">Video on youtube</a>
          <br />
          <div>
            <br />
            <br />
            <p><img src="{{ site.baseurl }}/img/funding_erdf.png" /></p>
            <p><small>From 2016–2019 the development of Glyphboard has been supported by the European Union through the European Regional Development Fund and the
              Free State of Saxony, Germany (Visual Analytics Interfaces for Big Data Environments (VANDA) – project no. 100238473).</small></p>            
          </div>
      
      </div>
          </div>

            <div style="clear:both;">
              <p class="text-center">
                <br />
                <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default githubEditButton" role="button">
                  <i class="fa fa-pencil fa-lg"></i> Improve this page
                </a>
              </p>
            </div>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
